* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f3f5;
}

$font-style-title:  'Raleway', sans-serif;
$font-style-paragraph: 'Merriweather', serif;
$color-titles-and-background: #f0f3f5;
$color-text-underline: #0b7a75;
$color-details:#7b2d26;
$color-backgroud-stories:#d7c9aa;
