h1 {
  font-family: $font-style-title;
  font-size: 4em;
  color: $color-titles-and-background;
}

h2 {
  font-family: $font-style-title;
  font-weight: 200;
  font-style: italic;
  font-size: 1.2em;
  color: $color-titles-and-background;
  text-align: right;
}

h3 {
  font-family: $font-style-title;
  font-weight: 200;
  font-style: italic;
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: $color-text-underline;
}

p {
  font-family: $font-style-paragraph;
  font-size: 1em;
}

p:first-child:first-letter {
  color: $color-details;
  float: left;
  font-size: 3em;
  font-weight: bold;
  padding-right: 0.5em;
}

a {
  color: $color-details;
}

.title {
  padding-top: 5%;
  width: 40%;
  margin-left: 5%;
  animation-name: titleFadeIn;
  animation-duration: 3s;
}

.subtitle {
  width: 40%;
  margin-left: auto;
  padding-right: 5%;
  /*animation-name: slideInUp;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  visibility: hidden;*/
}

.notes {
  font-family: 'Raleway', serif;
  font-size: 1em;
  color: #f0f3f5;
}

.text-info-color {
  color: $color-details;
  text-decoration: none;
  font-weight: bold;
}

.text-info {
  font-size: 0.5em;
  text-decoration: none;
}

.info-authors {
  text-align: right;
}
@media screen and (max-width: 980px) {
  .text-info-color {
    color: $color-details;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.5em;
    line-height: 0.5em;
  }

  .text-info {
    font-size: 0.3em;
    text-decoration: none;
  }

  .text-wman {
    p {
      font-family: $font-style-paragraph;
      font-size: 0.7em;
      width: 100%;
      text-align: justify;
    }

    p:first-child:first-letter {
      color: $color-details;
      float: left;
      font-size: 3em;
      font-weight: bold;
    }
  }

  .media-text.wmen {
    font-family: $font-style-paragraph;
    font-size: 0.3em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 1.3em;
  }
}
#responsive-text{
font-size: 0.9em;
}
#responsive-texto{
  font-size: 0.9em;
  p{
    font-size: 0.9em;
  }
}
