h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}

h1, h2{
	font-family: sans-serif;
}

div#container{
	width:75%; 
	overflow: hidden;
	margin: auto;
}




div#container a{
	display: block;
	width: 47%;
	float: left;
}

div#container a.tres{
	float: none;
}

div p{
	text-align: center;
	font-family: 'Merriweather', serif;
}

article{
	float: left;
	margin-right: 25px;
	color: black;
	text-align: center;
}

a.cuarta{
	margin:auto;
}

footer{

	text-align: center;
}

body{
	background-color: #f0f3f5;
}

iframe{

}

@media only screen and (max-width: 1150px) {

}


@media only screen and (max-width: 500px) {



    figure{
    	width: 85%;
    }
}
